* {
    border: 0; 
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

:root {

--hue: 223;

--bg: hsl(var(--hue), 90%, 90%);

--fg: hsl(var(--hue), 90%, 10%);

--danger: hsl(3,90%,45%);
--danger-down: hst(3,903,65%);
--white: hsl(0,0,100%);
--trans-dur: 0.3s;
  font-size: calc(20px + (40-20) * (100vw - 320px) / (2560 -320));
}


body,
button {
    font:1em/1.5 "DM Sans", sans-serif;

}